/.lake
**/vir.json
.direnv/
.DS_Store
testJSON/*
testJSON.lean
verus-lean
tests/BoogieFiles/*.boogie.st
tests/BoogieFiles/*.core.st
tests/BoogieFiles/**/*.boogie.st
tests/BoogieFiles/**/*.core.st
tests/LeanFiles/*.lean
tests/LeanFilesNew/*.lean
tests/JSONFiles/*.json
tests/JSONFilesLean/*.json
tests/JSONFilesBoogie/*.json
tests/JSONFilesBoogie/**/*.json
tests/VerusFiles/**
